h1 {
    font-size: 13em;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif!important;
    display: block;
}

h2 {
    font-size: 4em;
    padding-bottom: 10px;
}

.firstSection {
    height: 86vh;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.topIcon {
    border-radius: 10px;
}


.contactInfo {
    margin-top: 20px;
    height: 95%;
}

#inner {
	display: table;
	margin: 0 auto;
}

.first {
    margin-top: 20px;
}




