h1 {
    font-size: 15em;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif!important;
}

h2 {
    font-size: 4em;
}

.firstSection {
    height: 100vh;
    line-height: 90vh;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.topIcon {
    border-radius: 10px;
}

p {
    padding: 10px;
}

.image {
    
}

