h1 {
    font-size: 2 em;
    background-color: red;
    padding: 20px 0 20px 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h2 {
    
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.topIcon {
    border-radius: 10px;
}

p {
    padding: 10px;
}

